@* Vista parcial que me ayudara a mostrar los comentaios *@

@using Core.Application.ViewModels.Partial
@model CommentPartialViewModel
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Core.Application
@using Core.Domain
@inject IHttpContextAccessor iHttpContext;
@{
  var userSession = iHttpContext?.HttpContext?.Session.Get<UserProfileViewModel>("userProfile");
}

@if (Model.Comments != null && Model.Comment != null)
{
  foreach (var comment in Model.Comments)
  {
    if (comment.Id == Model.Comment.Id)
    {
      <div class="w-full flex flex-row px-2">

        <!-- PFP -->
        <div class="w-fit mr-1 flex flex-col items-center justify-between">
          <img src="~/@Model.UserProfile?.ProfilePicturePath" alt=""
               class="w-7 h-7 object-cover rounded-full my-1"/>
          <div class="w-1 h-5 border-l border-gray-300"></div>
          <i class="@(comment.Replies.Any() ? "ri-add-circle-line hover:cursor-pointer showMore" : "hidden")"></i>
          <div class="w-1 h-full border-l border-gray-300"></div>
        </div>

        <!-- COMMENTS AND REPLIES -->
        <div class="w-full flex flex-col commentReplies">
          <!-- COMMENT -->
          <div class="w-full">
            <!-- USERNAMNE AND TIME AGO-->
            <div class="flex flex-row justify-start items-center py-1">
              <div class="flex">
                <p class="text-xs font-semibold hover:cursor-pointer hover:underline underline-offset-4">
                  U/@Model.UserProfile.UserName
                </p>
                @*<span class="text-xs text-gray-600">. 6 min. ago</span>*@
                <span class="@(comment.ParentComment == null ? "hidden" : "inline") text-xs ml-1 text-gray-600 rounded-full px-2 bg-slate-200">
                  <span class="">Replied to</span> @(comment.ParentCommentUsername)
                </span>
              </div>
            </div>
            <!-- DESCRIPTION -->
            <div class="px-2">
              <p class="text-sm text-slate-900 w-fit descriptionText">
                @comment.Description
              </p>
            </div>
            <!-- LIKES, RESPONDS, ETC -->
            <div class="flex flex-row mt-1">
              <!-- likes and dislike -->
              <div class="flex flex-row items-center text-sm ml-1 w-fit">
                <span class="mr-1">
                  <a asp-controller="Likes" asp-action="Like" asp-route-commentId="@comment.Id">
                    @{
                      var postLikes = comment.Likes.Any(like => like.UserId == userSession?.Id && like.IsLike);
                    }
                    <i class="@(postLikes ? "ri-triangle-fill text-orange-600" : "text-slate-700 ri-triangle-line")"></i>
                  </a>
                </span>
                <p>@comment.Likes.Count</p>
                <span class="ml-1">
                  @if (comment.Likes.Any(like => like.UserId == userSession?.Id && like.IsLike))
                  {
                    <div class="flex items-center justify-center font-extrabold hover:bg-gray-200 text-gray-500">
                      <a class="rotate-180" asp-controller="Likes" asp-action="Dislike"
                         asp-route-id="@comment.Likes.First(like => like.UserId == userSession?.Id).Id">
                        <i class="ri-triangle-line rotate-180 text-slate-700"></i>
                      </a>
                    </div>
                  }
                </span>
              </div>
              <!-- REPLY -->
              <button href="#" class="flex flex-row items-center rounded-full w-fit ml-1 replyButton">
                <span class="p-1 text-slate-700 text-sm">
                  <i class="ri-message-2-line"></i>
                  @(comment.Replies != null ? comment.Replies.Count : "0")
                  Reply
                </span>
              </button>
              <!-- Share button -->
              <a href="#" class="flex flex-row items-center rounded-full w-fit ml-1">
                <span class="p-1">
                  <p class="text-slate-700 text-sm">Share</p>
                </span>
              </a>
            </div>

            <!-- FORM TO SEND A REPLY -->
            <form method="post" class="hidden replyForm" asp-controller="Comment" asp-action="AddReply"
                  asp-route-principalCommentId="@comment.Id"
                  asp-route-commentId="@Model.Comment.Id">
              <div class="mt-5 border rounded-sm">
                <input type="hidden" asp-for="@Model.SaveComment.UserId" value="@userSession?.Id">
                <textarea asp-for="@Model.SaveComment.Description" rows="4" 
                  class="!outline-none border-b w-full resize-none p-2 text-sm overflow-y-scroll scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-300"></textarea>
                <div class="w-full flex justify-end items-center p-1">
                  <button type="button" class="px-2 text-blue-700 text-sm mr-2 cancelReplyButton">Cancel</button>
                  <button type="submit" class="text-white py-1 px-4 bg-blue-700 rounded-full text-sm">Comment</button>
                </div>
              </div>
            </form>
            <!-- FORM TO SEND A REPLY -->

          </div>

          <!-- Check if there are replies to this comment -->
          @if (comment.Replies != null && comment.Replies.Any())
          {
            <div class="replies-container hidden">
              @foreach (var reply in comment?.Replies)
              {
                foreach (var newComment in Model.Comments)
                {
                  if (comment.Id == newComment.PrincipalPostCommentId)
                  {
                    <div class="w-full flex flex-row">
                      <!-- PFP -->
                      <div class="w-fit mr-1 flex flex-col items-center justify-between">
                        <img src="~/@newComment.UserProfile.ProfilePicturePath" alt=""
                             class="w-7 h-7 object-cover rounded-full my-1"/>
                        <div class="w-1 h-full border-l border-gray-300"></div>
                      </div>

                      <!-- REPLY -->
                      <div class="w-full">
                        <!-- USERNAMNE AND TIME AGO-->
                        <div class="flex flex-row justify-start items-center py-1">
                          <div class="flex">
                            <p class="text-xs font-semibold hover:cursor-pointer hover:underline underline-offset-4">
                              U/@newComment.UserProfile.UserName
                            </p>
                            @*<span class="text-xs text-gray-600">. 6 min. ago</span>*@
                            <span class="@(newComment.ParentComment == null ? "hidden" : "inline") text-xs ml-1 text-gray-600 rounded-full px-2 bg-slate-200">
                              <span>Replied to</span> @(newComment.ParentCommentUsername)
                            </span>
                          </div>
                        </div>
                        <!-- DESCRIPTION -->
                        <div class="px-2">
                          <p class="text-sm text-slate-900 w-fit descriptionText">
                            @newComment.Description
                          </p>
                        </div>
                        <!-- LIKES, RESPONDS, ETC -->
                        <div class="flex flex-row mt-1">
                          <!-- likes and dislike -->
                          <div class="flex flex-row items-center text-sm ml-1 w-fit">
                            <span class="mr-1">
                              <a asp-controller="Likes" asp-action="Like" asp-route-commentId="@newComment.Id">
                                @{
                                  var postLikes = newComment.Likes.Any(like => like.UserId == userSession?.Id && like.IsLike);
                                }
                                <i class="@(postLikes ? "ri-triangle-fill text-orange-600" : "text-slate-700 ri-triangle-line")"></i>
                              </a>
                            </span>
                            <p>@newComment.Likes.Count</p>
                            <span class="ml-1">
                              @if (newComment.Likes.Any(like => like.UserId == userSession?.Id && like.IsLike))
                              {
                                <div class="flex items-center justify-center font-extrabold hover:bg-gray-200 text-gray-500">
                                  <a class="rotate-180" asp-controller="Likes" asp-action="Dislike"
                                     asp-route-id="@newComment.Likes.First(like => like.UserId == userSession?.Id).Id">
                                    <i class="ri-triangle-line rotate-180 text-slate-700"></i>
                                  </a>
                                </div>
                              }
                            </span>
                          </div>
                          <!-- REPLY -->
                          <button href="#" class="flex flex-row items-center rounded-full w-fit ml-1 replyButton">
                            <span class="p-1 text-slate-700 text-sm">
                              <i class="ri-message-2-line"></i>
                              @(newComment.Replies != null ? newComment.Replies.Count : "0")
                              Reply
                            </span>
                          </button>
                          <!-- Share button -->
                          <a href="#" class="flex flex-row items-center rounded-full w-fit ml-1">
                            <span class="p-1">
                              <p class="text-slate-700 text-sm">Share</p>
                            </span>
                          </a>
                        </div>

                        <!-- FORM TO SEND A REPLY -->
                        <form method="post" class="hidden replyForm" asp-controller="Comment" asp-action="AddReply"
                              asp-route-principalCommentId="@comment.Id"
                              asp-route-commentId="@newComment.Id">
                          <div class="mt-5 border rounded-sm">
                            <input type="hidden" asp-for="@Model.SaveComment.UserId" value="@userSession?.Id">
                            <textarea asp-for="@Model.SaveComment.Description" rows="4" 
                                      class="!outline-none border-b w-full resize-none p-2 text-sm overflow-y-scroll scrollbar-thin scrollbar-thumb-gray-500 scrollbar-track-gray-300"></textarea>
                            <div class="w-full flex justify-end items-center p-1">
                              <button type="button" class="px-2 text-blue-700 text-sm mr-2 cancelReplyButton">Cancel</button>
                              <button type="submit" class="text-white py-1 px-4 bg-blue-700 rounded-full text-sm">Comment</button>
                            </div>
                          </div>
                        </form>
                        <!-- FORM TO SEND A REPLY -->

                      </div>
                    </div>
                  }
                }
              }
            </div>
          }
        </div>

      </div>
    }
  }
}

<script>
  // Verifica si el script ya se ha ejecutado antes
  if (!window.showMoreScriptExecuted) {
    // Evita que el script se ejecute nuevamente
    window.showMoreScriptExecuted = true;

    // Asigna el evento click al contenedor principal
    document.addEventListener("click", function (event) {
      // Verifica si se hizo clic en un botón showMore
      if (event.target.classList.contains("showMore")) {
        // Encuentra el contenedor de respuestas correspondiente
        let currentCommentReplies = event.target.closest('.w-full').querySelector('.replies-container');

        // Alterna la visibilidad del contenedor
        if (currentCommentReplies) {
          currentCommentReplies.classList.toggle("hidden");
          event.target.classList.toggle("ri-indeterminate-circle-line");
        }
      }
    });

    let numberOfReplies = document.querySelectorAll(".replies-container").length;
    console.log("Número de respuestas:", numberOfReplies);
  }
</script>