@using Core.Domain
@model Core.Application.ViewModels.Home.HomeViewModel
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static Core.Application.SessionHelper;
@using Core.Application
@inject IHttpContextAccessor iHttpContext;
@{
  var userSession = iHttpContext?.HttpContext?.Session.Get<UserProfileViewModel>("userProfile");
}
@{
  ViewData["Title"] = "View post";
}

<div class="flex flex-col justify-start mx-auto w-full bg-slate-600 animate-fade items-center">
  
  <div class="mx-auto min-[1350px]:w-10/12 min-[1800px]:w-8/12 max-[1350px]:w-full py-2 px-1 min-[520px]:px-9 bg-black text-white">
    <!-- TOP CONTENT -->
    <div class="flex flex-row justify-between sticky">
      <!-- LIKES -->

      <!-- Title -->
      <div class="flex flex-row items-center">
        <p class="font-semibold text-md">
          @(Model.PostViewModel.Title.Length > 50 ? @Model.PostViewModel.Title.Substring(0, 20) + "..." : @Model.PostViewModel.Title)
        </p>
        <span class="min-[520px]:inline hidden bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">SUCCESS</span>
      </div>

      <!-- CLOSE BUTTON -->
      <a asp-controller="Home" asp-action="Index" class="font-bold">X</a>
    </div>
  </div>

  <div class="mx-auto min-h-screen flex min-[950px]:px-36 min-[1350px]:w-10/12 min-[1800px]:w-8/12 max-[1350px]:w-full bg-slate-300">

    <!-- Left side content -->
    <div class="w-full min-[950px]:w-[70%] mx-auto min-[950px]:p-4 h-fit">
      <div class="bg-white rounded-md">
        <!-- pfp, forum's name, time ago, username, 3 dots -->
        <div class="p-2 flex flex-row">
          <img
            src="~/@Model.UserProfileViewModel.ProfilePicturePath"
            alt="" class="w-10 h-10 object-cover rounded-full mr-2">
          <div class="flex justify-between w-full items-start">
            <div>
              <div class="flex flex-row items-center">
                <p class="text-sm font-bold mr-2">Foro's name</p>
                <span class="text-sm">@Model.PostViewModel.RelativeDate</span>
              </div>
              <p class="text-sm font-extralight">@Model.UserProfileViewModel.UserName</p>
            </div>
            <span class="font-bold text-xl">...</span>
          </div>
        </div>
        <!-- Tags -->
        <div class="p-2">
          <p class="font-semibold text-md">@Model.PostViewModel.Title</p>
        </div>
        <!-- Description -->
        <div class="px-2">
          <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">SUCCESS</span>
          <p class="text-sm font-light p-1">
            @Model.PostViewModel.Description
          </p>
        </div>
        <!-- Image -->
        <img
          src="~/@Model.PostViewModel.ImagePath"
          alt="" class="w-fit mx-auto"/>
        <!-- Like and dislike count, comments count, share -->
        <div class="p-2 m-2 flex flex-row">
          <!-- likes and dislike -->
          <div class="flex flex-row items-center bg-gray-200 px-2 rounded-full w-fit">
            <span class="mr-2">
              <i class="ri-arrow-up-fill text-xl"></i>
            </span>
            <p>@Model.PostViewModel.Likes.Count</p>
            <span class="ml-2">
              <i class="ri-arrow-down-fill text-xl"></i>
            </span>
          </div>
          <!-- Comments -->
          <div class="flex flex-row bg-gray-200 items-center px-2 rounded-full w-fit ml-4">
            <span class="p-1">
              <i class="ri-message-2-fill mr-2 text-xl"></i> @Model.PostViewModel.Comments.Count
            </span>
          </div>
          <!-- Share button -->
          <div class="flex flex-row bg-gray-200 items-center px-2 rounded-full w-fit ml-4">
            <span class="p-1">
              <i class="ri-share-2-line text-xl"></i>
            </span>
          </div>
        </div>
        <!-- Add a comment section -->
        <div class="p-2 m-2">
          @if (userSession == null)
          {
            <a asp-controller="Login" asp-action="Index" class="flex justify-center items-center border border-gray-500 rounded-full px-2 py-1 hover:cursor-pointer">
              <span><i class="ri-add-line mr-2 text-xl"></i>Add a comment</span>
            </a>
          }
          else
          {
            <form method="post" asp-controller="Comment" asp-action="AddComment">
              <!-- Section  to write the comment -->
              <div class="mt-2">
                <a class="mb-2 text-slate-900 text-sm">Comment as <span class="text-violet-700 text-sm hover:cursor-pointer hover:underline underline-offset-4">u/@userSession.UserName</span></a>
                <div class="w-full">
                  <textarea asp-for="@Model.SaveCommentViewModel.Description" rows="4" class="border w-full resize-none p-2 rounded-sm text-sm"></textarea>
                  <input type="hidden" asp-for="@Model.SaveCommentViewModel.UserId" value="@userSession.UserId">
                  <input type="hidden" asp-for="@Model.SaveCommentViewModel.PostId" value="@Model.PostViewModel.Id">
                  <div class="w-full flex justify-end items-center p-1">
                    <button type="submit" class="text-white py-1 px-4 bg-blue-700 rounded-full text-sm">Comment</button>
                  </div>
                </div>
              </div>
            </form>
          }
        </div>
        <!-- COMMENTS -->
        @foreach (var comment in Model.PostViewModel.Comments)
        {
          @foreach (var userProfile in Model.UserProfileViewModels)
          {
            if (comment.UserId == userProfile.UserId)
            {
              <div class="mt-2 p-4 w-full flex flex-row">
                <div class="w-10 mr-1 flex flex-col items-center justify-between">
                  <!-- PFP -->
                  <img src="~/@userProfile.ProfilePicturePath" alt=""
                       class="w-8 h-8 object-cover rounded-full my-1"/>
                  <div class="w-1 h-full border-l-2 border-gray-300"></div>
                </div>
                <div class="w-full flex flex-col">
                  <div class="w-full">
                    <!-- USERNAMNE AND TIME AGO-->
                    <div class="flex flex-row justify-start items-center py-1">
                      <div class="flex">
                        <p class="text-xs font-semibold hover:cursor-pointer hover:underline underline-offset-4">
                          U/@userProfile.UserName
                        </p>
                        <span class="text-xs text-gray-600">. 6 min. ago</span>
                      </div>
                    </div>
                    <!-- DESCRIPTION -->
                    <div class="px-2">
                      <p class="text-sm text-slate-900 w-fit descriptionText">
                        @comment.Description
                      </p>
                    </div>
                    <!-- LIKES, RESPONDS, ETC -->
                    <div class="flex flex-row mt-1">
                      <!-- likes and dislike -->
                      <div class="flex flex-row items-center rounded-full w-fit">
                        <span class="mr-2">
                          <i class="ri-arrow-up-fill text-md"></i>
                        </span>
                        <p>0</p>
                        <span class="ml-2">
                          <i class="ri-arrow-down-fill text-md"></i>
                        </span>
                      </div>
                      <!-- Comments -->
                      <div class="flex flex-row items-center rounded-full w-fit ml-1">
                        <span class="p-1"><i class="ri-message-2-fill mr-2 text-md"></i> 0</span>
                      </div>
                      <!-- Share button -->
                      <div class="flex flex-row items-center rounded-full w-fit ml-1">
                        <span class="p-1">
                          <i class="ri-share-2-line text-md"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          }
        }
      </div>
    </div>

    <!-- RIGHT SIDE CONTENT -->
    <div class="w-[40%] hidden min-[950px]:flex justify-start flex-1">
      <div class="w-full pt-4">

        <!-- COMMUNITY -->
        <div class="rounded-md bg-white p-5 flex flex-col">
          <!-- forum's name and join button -->
          <div class="flex items-center justify-between">
            <p class="font-bold">r/Hackintosh</p>
            <a href="#" class="border border-gray-500 rounded-full px-4 py-1">Joined</a>
          </div>
          <!-- Forum's description -->
          <div class="mt-4 w-fit">
            <span class="text-sm font-semibold">Hackintosh</span>
            <p class="text-sm font-light text-gray-700">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. A,
              labore ea.
              Vel
              qui eius
              commodi! Ipsa
              debitis est, accusamus praesentium excepturi porro exercitationem laudantium explicabo. Itaque aliquam
              eligendi sit quo?
            </p>
          </div>
          <!-- Forums's stats -->
          <div class="mt-3 w-full flex flex-row justify-between">
            <!-- Members number -->
            <div class="flex flex-col">
              <p class="font-semibold text-md">186k</p>
              <span class="text-sm font-light text-gray-600">Members</span>
            </div>
            <!-- online members -->
            <div class="flex flex-col">
              <p class="font-semibold text-md">288</p>
              <span class="text-sm font-light text-gray-600"><i class="ri-circle-fill text-green-400"></i> Online</span>
            </div>
            <!-- Forum's rank -->
            <div class="flex flex-col">
              <p class="font-semibold text-md">Top 1%</p>
              <span class="text-sm font-light text-gray-600">Rank by size</span>
            </div>
          </div>
        </div>
        <!-- COMMUNITY -->

      </div>
    </div>

  </div>

</div>

<script src="~/js/ViewPost/ViewMoreComment.js"></script>