@using Core.Application;
@using System.Text.Json
@model GeneralSignInViewModel;
@{
  ViewData["Title"] = "Sign In";
}

<div class="flex items-start max-[1000px]:bg-white justify-center mx-auto min-[1000px]:w-8/12 w-full">

  <!-- SING UP -->
  <div class="w-[600px] bg-white min-[1000px]:rounded-xl min-[1000px]:w-96 flex justify-between flex-col p-5 mt-7"
    id="SingUp">
    <form method="POST" asp-controller="Login" asp-action="Register" enctype="multipart/form-data">
      <div class="">
        <p class="text-2xl font-extrabold">Sign Up</p>
        <span class="text-gray-800 text-sm">By continuing, you agree to our User Agreement and acknowledge that you
          understand the Privacy Policy. </span>
      </div>

      <div class="flex flex-col mt-9" id="userInfo">
        <input asp-for="@Model.SaveUserViewModel.Name" class="p-3 rounded-xl w-full bg-gray-10 field bg-gray-100 field"
          placeholder="Name *" requried>
        <input asp-for="@Model.SaveUserViewModel.LastName" class="p-3 rounded-xl w-full mt-3 bg-gray-100 field"
          placeholder="Last name *" required>
        <input asp-for="@Model.SaveUserViewModel.Age" class="p-3 rounded-xl w-full mt-3 bg-gray-100 field"
          placeholder="Age *" required>
        <input asp-for="@Model.SaveUserViewModel.Gender" class="p-3 rounded-xl w-full mt-3 bg-gray-100 field"
          placeholder="Gender *" required>
        <input asp-for="@Model.SaveUserViewModel.Country" class="p-3 rounded-xl w-full mt-3 bg-gray-100 field"
          placeholder="Country *" required>
        <input asp-for="@Model.SaveUserViewModel.City" class="p-3 rounded-xl w-full mt-3 bg-gray-100 field"
          placeholder="City *" required>
      </div>

      <div class="hidden flex-col mt-9" id="UserProfileInfo">
        <input asp-for="@Model.SaveUserProfileViewModel.UserName" class="p-3 rounded-xl w-full bg-gray-100 field"
               placeholder="Username *" requried>
        <input asp-for="@Model.SaveUserProfileViewModel.Password" class="p-3 rounded-xl w-full mt-3 bg-gray-100 field"
               placeholder="Password *" required>
        <input asp-for="@Model.SaveUserProfileViewModel.ConfirmPassword"
               class="p-3 rounded-xl w-full mt-3 bg-gray-100 field" placeholder="Confirm password *" required>
        <input asp-for="@Model.SaveUserProfileViewModel.About" class="p-3 rounded-xl w-full mt-3 bg-gray-100 field"
               placeholder="About *" required>
        <input asp-for="@Model.SaveUserProfileViewModel.Email" class="p-3 rounded-xl w-full mt-3 bg-gray-100 field"
               placeholder="Email *" required>
        <input asp-for="@Model.SaveUserProfileViewModel.Phone" class="p-3 rounded-xl w-full mt-3 bg-gray-100 field"
               placeholder="Phone *" required>
        <label asp-for="@Model.SaveUserProfileViewModel.UserName" class="mt-3 text-sm">Profile piture</label>
        <input asp-for="@Model.SaveUserProfilePictureViewModel.PictureFile" type="file" class="block w-full text-sm text-slate-500
              file:mr-4 file:py-2 file:px-4 file:rounded-md
              file:border-0 file:text-sm file:font-semibold
              file:bg-blue-50 file:text-blue-700
              hover:file:bg-blue-100 mt-3 cursor-pointer" placeholder="Profile picture" required />
      </div>
      
      <input type="hidden" id="mySignUpData" value="@Model.failed">

      <div class="mt-5 flex flex-col">
        <div class="text-sm">Already a Social Networker? <a id="LogInLink"
            class="text-blue-500 font-bold cursor-pointer" asp-controller="Login" asp-action="Index">Log In</a></div>
      </div>

      <div class="mt-9">
        <button class="w-full bg-blue-500 text-white p-2 rounded-xl" id="NextButton">Next</button>
        <button class="w-full bg-gray-500 text-white p-2 rounded-xl hidden" id="BackButton">Back</button>
        <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-xl hidden mt-2"
          id="SaveButton">Save</button>
      </div>
    </form>
  </div>
  <!-- SING UP -->

  <div class="bg-white h-screen"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const nextButton = document.getElementById('NextButton');
  const userInfo = document.getElementById('userInfo');
  const userProfileInfo = document.getElementById('UserProfileInfo');
  const backButton = document.getElementById('BackButton');
  const saveButton = document.getElementById('SaveButton');

  nextButton.addEventListener('click', () => {
    if (userProfileInfo.classList.contains('hidden')) {
      userProfileInfo.classList.remove('hidden');
      backButton.classList.remove('hidden');
      saveButton.classList.remove('hidden');
      nextButton.classList.add('hidden');
      userProfileInfo.classList.add('flex');
      userInfo.classList.add('hidden');
    }
  });

  backButton.addEventListener('click', () => {
    if (!userProfileInfo.classList.contains('hidden')) {
      userProfileInfo.classList.add('hidden');
      userProfileInfo.classList.remove('flex');
      backButton.classList.add('hidden');
      saveButton.classList.add('hidden');
      nextButton.classList.remove('hidden');
      userInfo.classList.remove('hidden');
    }
  });
  
  //==================================== working with the sing up success
  const modelToJS = @Html.Raw(JsonSerializer.Serialize(Model));
  console.log(modelToJS["failed"]);
  
  //Now after the user send to the controller all the information to register him
  //The controller is going to send me back the information in the "failed" property of the model of this view
  //in order to show up the message and redirect the user to the Login view.
  if (!modelToJS["failed"]){
    Swal.fire({
      title: 'Welcome to the family!',
      text: 'We are so exciting to have you around us, click in the button bellow to login into your new account',
      confirmButtonTest: 'Continue',
    }).then((result) => {
      // if the user press the "Continue" button it will be redirected to the login view
      if (result.isConfirmed) {
        // with this we are going to send the customer to the login view.
        window.location.href = '@Url.Action("Index", "Login")';
      }
    })
  }
</script>